{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block main %}
     
  
  
    

    
    <div class="row">
    <div class="col-md-3">
    
      <div class="card" style="width: 10">
        <h6 class="">Top Rated Movies</h4>
        {%for tuple in star_data:%}
        <div class="card-body text-center">
          <img src="{{tuple[2]}}" class="card-img-top" style="max-width: 30px; max-height: auto; display: block; margin: 0 auto;">
          <p class="card-text ">{{tuple[0]}}</p>
          <div class="row justify-content-center">
            <i class="bi bi-star-fill "id="1" name="1"></i>
            <p class="fw-light ">{{tuple[1]}}</p>
          </div>
        </div>
        {%endfor%}

      </div>
      


    </div>

    
    
      <div class="col-md-7">
      
      

        {%for tuple in (post_data):%}
    
      <div class="card" style="width: 35rem; margin-left: auto; margin-right: auto; ">
      <img src="{{tuple[2]}}" class="card-img-top" style="max-width: 120px; max-height: auto; display: block; margin: 0 auto;">
      <div class="card-body">
    

      <h5 class="card-title text-center">{{tuple[1]}}</h5>
      <div class="row justify-content-center">
        <p class="fw-light text-secondary">Review posted by: {{tuple[6]}}</p>
        <p> &nbsp;</p>
        {%if session.get("user_id")==tuple[0]:%}
        <form action="/remove" method="post">
          <input type="hidden" name="time" value="{{tuple[5]}}">
          <input type="hidden" name="userid" value="{{tuple[0]}}">
          <input type="hidden" name="movie" value="{{tuple[1]}}">
      <button type="submit" style="border: none; background-Color: rgb(255, 255, 255) ; font-size: 10px; color:rgb(168, 58, 33);">Remove</button>
      </form>
      {%endif%}
      </div>
      
      {%if tuple[3]==1%}
      <i class="bi bi-star-fill "id="1" name="1"></i>
      <i class="bi bi-star-fill bi-star"id="2" name="2"></i>
      <i class="bi bi-star-fill bi-star"id="3" name="3"></i>
      <i class="bi bi-star-fill bi-star"id="4" name="4"></i>
      <i class="bi bi-star-fill bi-star"id="5" name="5"></i>
      {%endif%}
      {%if tuple[3]==2%}
      <i class="bi bi-star-fill "id="1" name="1"></i>
      <i class="bi bi-star-fill "id="2" name="2"></i>
      <i class="bi bi-star-fill bi-star"id="3" name="3"></i>
      <i class="bi bi-star-fill bi-star"id="4" name="4"></i>
      <i class="bi bi-star-fill bi-star"id="5" name="5"></i>
      {%endif%}
      {%if tuple[3]==3%}
      <i class="bi bi-star-fill "id="1" name="1"></i>
      <i class="bi bi-star-fill "id="2" name="2"></i>
      <i class="bi bi-star-fill r"id="3" name="3"></i>
      <i class="bi bi-star-fill bi-star"id="4" name="4"></i>
      <i class="bi bi-star-fill bi-star"id="5" name="5"></i>
      {%endif%}
      {%if tuple[3]==4%}
      <i class="bi bi-star-fill "id="1" name="1"></i>
      <i class="bi bi-star-fill "id="2" name="2"></i>
      <i class="bi bi-star-fill "id="3" name="3"></i>
      <i class="bi bi-star-fill "id="4" name="4"></i>
      <i class="bi bi-star-fill bi-star"id="5" name="5"></i>
      {%endif%}
      {%if tuple[3]==5%}
      <i class="bi bi-star-fill "id="1" name="1"></i>
      <i class="bi bi-star-fill "id="2" name="2"></i>
      <i class="bi bi-star-fill "id="3" name="3"></i>
      <i class="bi bi-star-fill "id="4" name="4"></i>
      <i class="bi bi-star-fill "id="5" name="5"></i>
      {%endif%}
      
      
      <p class="card-text">{{tuple[4]}}</p>
      
      </div>
    </div>
    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    {%endfor%}

    

  <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>




{% endblock %}